<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SIGES - Login{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/sigescontrol/images/massoft.png') }}" />
        <link href="{{asset('bundles/sigescontrol/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{asset('bundles/sigescontrol/js/jquery.js')}}"></script>
        <script src="{{asset('bundles/sigescontrol/js/bootstrap.min.js')}}"></script>
    </head>
    <body>
    {% set filter = app.session.get('filter') %}
    {% set apellido = filter['apellido'] %}
    {% set nombre = filter['nombre'] %}
    {% set privilegios = filter['privilegios'] %}
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{{asset('bundles/sigescontrol/images/siges-logo.png')}}" class="logo-siges"></img></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{apellido}}, {{nombre}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Cambiar Datos</a></li>
                <li><a href="#">Ayuda</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-off"></span> Cerrar Sesión</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!-- ----------------------------------------BARRA DE NAVEGACION LATERAL------------------------------------ -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navegacion">
            <ul class="nav nav-pills nav-stacked">
               <li role="presentation" class="active title"><a href="#">Menu </a></li>
               {% if privilegios == 'administrador' %}
               <li role="presentation"><a href="#"><span class="glyphicon glyphicon-education"></span> Alumnos </a></li>
               <li role="presentation"><a href="#"><span class="glyphicon glyphicon-briefcase"></span> Profesores </a></li>
               <li role="presentation"><a href="#"><span class="glyphicon glyphicon-user"></span> Usuarios </a></li>
               <li role="presentation"><a href="#"><span class="glyphicon glyphicon-book"></span> Materias</a></li>
               <li role="presentation"><a href="#"><span class="glyphicon glyphicon-list"></span> Planillas</a></li>
               <li role="presentation"><a href="#"><span class="glyphicon glyphicon-check"></span> Autorizaciones </a></li>
               <li role="presentation"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Boletines</a></li>
               <li role="presentation"><a href="#"><span class="glyphicon glyphicon-copyright-mark"></span> Chat</a></li>
               {% endif %}
 </div>

        {% block body %}{% endblock %}
        
       </ul></div></div></div> 
        {% block javascripts %}
            
        {% endblock %}
        
    </body>
</html>
