

	<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SIGES - Login{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/sigescontrol/images/massoft.png') }}" />
        <link href="{{asset('bundles/sigescontrol/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{asset('bundles/sigescontrol/js/jquery.js')}}"></script>
        <script src="{{asset('bundles/sigescontrol/js/bootstrap.min.js')}}"></script>
        <link href="{{asset('bundles/sigescontrol/css/estilosLogin.css') }}" type="text/css" rel="stylesheet" >
    </head>

<body>



 <div class="contenido">
<div class="cabecera"><img src="{{asset('bundles/sigescontrol/images/siges-logopng')}}"></img><hr></div>
<div class="login-form">
	<div class="row">
		<div class="col-xs-1 col-md-4 col-lg-4"></div>
		<div class="col-xs-10 col-md-4 col-lg-4">
            <div class="panel panel-primary" style="text-align:center">
                <div class="panel-heading">Ingreso Usuarios</div>
                    <div class="panel-body">
                        <form method="post" action="{{path('siges_login')}}">
                            <div class="form-group">
                                <label for="user">Usuario</label>
                                <input type="text" name="usuario" class="form-control" id="user" placeholder="Nombre de Usuario" required>
                            </div>
                            <div class="form-group">
                                <label for="pass">Contrase単a</label>
                                <input type="password" class="form-control" id="pass" name="pass" placeholder="Contrase単a" required>
                            </div>
                            <button type="submit" class="btn btn-default">Ingresar</button>
                        </form>

                    </div>
                            <div id="error">
                                {% if error is defined %}
                                    <p class="text-danger">Los datos Ingresados son Incorrectos!</p>
                                {% endif %}
                            </div>
            </div>
            <div class="olvido-pass"><a href="#">多Olvidaste la Contrase単a?</a></div>
        </div>
		<div class="col-xs-1 col-md-4 col-lg-4"></div>
	</div>
</div>
<div class="pie-de-pagina">
	Creado por MASSOFT <sup>&reg</sup> de <a href="">Mariano Serravalle</a>

	 <img src="{{asset('bundles/sigescontrol/images/massoft.png')}}" class="massoft" alt="MASSOFT - LOGO"></img>
</div>
</div>
</body>
</html>
