{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{asset('bundles/sigescontrol/css/estilosGenerales.css') }}" type="text/css" rel="stylesheet" >
{% endblock %}
{% block body %}
<h3>Nueva clase</h3>
<hr>

<div class="col-md-2"></div>
<div class="col-md-4">
<form class="form-horizontal">
  <div class="form-group">
    <label for="materia" class="col-sm-2 control-label">Materia</label>
    <div class="col-sm-10">
      <select name="materia" id="materia" class="form-control">
		{% for materia in materias %}
		     <option value="{{materia.getId}}">{{materia.getDescripcion}}</option>
		{% endfor %}
	</select>
	</div>
	</div>
	
<div class="form-group">
    <label for="curso" class="col-sm-2 control-label">Curso</label>
    <div class="col-sm-10">
	<select name="curso" class="form-control">
		{% for curso in cursos %}
		     <option value="{{curso.getId}}">{{curso.getAno}}-{{curso.getCiclo}}-{{curso.getTurno}}</option>
		{% endfor %}
	</select>
	</div>
	</div>
<div class="form-group">
    <label for="horario" class="col-sm-2 control-label">Horario</label>
    <div class="col-sm-10">			
	<select name="horario"  class="form-control">
		{% for horario in horarios %}
		     <option value="{{horario.getId}}">{{horario.getDesde|date("H:i")}}-{{horario.getHasta|date("H:i")}}</option>
		{% endfor %}
	</select>
	</div>
	</div>
<div class="form-group">
    <label for="profesor" class="col-sm-2 control-label">Profesor</label>
    <div class="col-sm-10">		
	<select name="profesor" class="form-control">
		{% for profesor in profesores %}
		     <option value="{{profesor.getId}}">{{profesor.getNombre}} {{profesor.getApellido}}</option>
		{% endfor %}
	</select>
	</div>
	</div>
	<div class="form-group">
    <label for="cupo" class="col-sm-2 control-label">Cupo</label>
    <div class="col-sm-10">
    <select name="cupo" class="form-control">
    	{% for i in 0..100 %}
			<option value="{{i}}">{{i}}</option>
    	    
    	{% endfor %}
    </select>
    </div></div>
	<button class="btn btn-default">Volver</button>
	<button class="btn btn-success">Confirmar</button>
    </form>
  </div>
  </div>

{% endblock %}